# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
# Day 17 - Apache Airflow
day17/.env
day17/config/
day17/logs/
day17/dags/__pycache__/
day17/plugins/__pycache__/env/

# Environment variables and secrets
.env
.env.*

# macOS
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

__pycache__/
.pytest_cache/
*.pyc
